$primaryColor: #476a6f;
$thomasColor: #c5c9a4;
$PAColor: #7eb09b;
$FredColor: #ecbeb4;
$borderColor: black;

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $primaryColor;
  width: 100vw;
  margin-top: 40px;
}
.card {
  border-radius: 15px;
  border: 15px solid $borderColor;
  color: black;
  margin: 15px;
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Thomas {
  background-color: $thomasColor;
}
#PA {
  background-color: $PAColor;
}
#Fred {
  background-color: $FredColor;
}
#titleFred {
  font-size: 3em;
}
.isActive {
  transform: scale3d(1.5, 1.5, 1.5);
}
.notActive {
  transform: scale3d(1, 1, 1);
}
p {
  padding-left: 10px;
  font-size: 1.4rem;
}
